/* selector {property:value;} */
/*index page */
#portfoliopage
#aboutpage
#homepage
#indexpage .mainnavigation li:nth-child(1) {background-color: rgba(0,0,0,0.3);}
#portfoliopage .mainnavigation li:nth-child(2) {background-color: rgba(0,0,0,0.3);}
#aboutpage .mainnavigation li:nth-child(3) {background-color: rgba(0,0,0,0.3);}

/*top bar */



.logo{
  background-image: url(../photos/logo.png);
  background-size: contain;
  height: 200px;
  background-repeat: no-repeat;
  margin-bottom: 20px;
  align-items: center;
}


.teaparty{
  background-image: url(../photos/teaparty.jpg);
  background-repeat: repeat-x;
  background-size: contain;
  height: 200px;
}

.top-bar{
margin-top: 8px;
}

.top-bar, .top-bar ul {
  background-color: #47251F;
}
.top-bar, .top-bar ul a{
  color: white;
}
.title-bar {
  margin-right: 25px;
  margin-top: 15px;
}

}
.sliderz {
  margin-top: 10px;
  padding: 15px;
}

.orbit-caption{
  background-color: white;
  color: black;
  text-align: center;
}





  .footer{
    background-color: #47251F;
    color: white;
    height: 100px;
    text-align: center;
  }

  footer h5 {
    margin-top: 40px;
  }
